<html>
	<head>
		<title>Turner Revolution</title>
		
		<meta name="description" content="Chris Turner's a fantastic candidate for the by-election on November 26th. Let Calgary Centre know you're supporting him." />
		<meta name="keywords" content="yyccentre, by-election, chris turner, guest book" />
		<meta name="robots" content="ALL" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<meta name="twitter:site" content="@theturner">
		<meta name="twitter:creator" content="@derekmcb">
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="Turner Revolution" />
		<meta name="twitter:description" content="Chris Turner's a fantastic candidate for the by-election on November 26th. Let Calgary Centre know you're supporting him." />
		<meta name="twitter:image" content="assets/images/banner.png" />
		
		<meta name="fb:app_id" content="" />
		<meta name="og:type" content="summary" />
		<meta name="og:title" content="Stay at Home YYC Centre" />
		<meta name="og:image" content="assets/images/banner.png" />
		<meta name="og:description" content="Chris Turner's a fantastic candidate for the by-election on November 26th. Let Calgary Centre know you're supporting him." />
		
		<link href="assets/css/styles.css" rel="stylesheet"/>
		<script type="text/javascript" src="//use.typekit.net/gjd4ozp.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		<div id="header">
			<img src="assets/images/banner.png" alt="Vote Chris Turner" />
		</div>
		<div id="share">
		</div>
		<div id="shared">
		</div>
		<div id="footer">
			<a href="http://turner4yyc.ca">
				<img src="assets/images/turner4yyclogo.png" alt="turner4yyc.ca" />
				</a>
		</div>
		
		<!-- Templates -->
		<script id="share-template" type="text/template">
			<h2>Share why you've chosen to vote for Chris Turner:</h2>
			
			<form id="share" class="section">
				<div class="input">
					<input id="name" type="text" placeholder="Your name"></input>
					<label id="name_error" class="error"></label>
				</div>
				<div class="email">
					<input id="email" type="text" placeholder="Your email address"></input>
					<label id="email_error" class="error"></label>
				</div>
				<div class="input">
					<textarea id="story" placeholder="Your story"></textarea>
					<label id="story_error" class="error"></label>
				</div>
				<div class="input">
					<button id="send">Share</button>
				</div>
			</form>
		</script>
		
		<script id="shared-template" type="text/template">
			<h2>See what other Calgarians think of Chris:</h2>
			<div class="stories">
			</div>
		</script>
		
		<script id="story-template" type="text/template">
			<p>
				<%= story %>
			</p>
			<span class="author">
				<%= name %>
			</span>
			<span class="date">
				<%= date %>
			</span>
		</script>
		
		<!-- Javascripts -->
		<script type="text/javascript" src="assets/js/libraries/jquery-1.8.2.min.js"></script>
		<script type="text/javascript" src="assets/js/libraries/underscore-1.4.0.min.js"></script>
		<script type="text/javascript" src="assets/js/libraries/backbone-0.9.2.min.js"></script>
		<script type="text/javascript" src="assets/js/libraries/jquery.placeholder.min.js"></script>
		<script type="text/javascript" src="assets/js/libraries/jquery.fittext.js"></script>
		
	    <script type="text/javascript" src="assets/js/models/story.js"></script>
	    <script type="text/javascript" src="assets/js/collections/stories.js"></script>
	    <script type="text/javascript" src="assets/js/views/share.js"></script>
	    <script type="text/javascript" src="assets/js/views/shared.js"></script>
	    <script type="text/javascript" src="assets/js/router.js"></script>
		<script type="text/javascript" src="assets/js/app.js"></script>
	</body>
</html>