<html>
	<head>
		<title>Calgary For Chris Turner</title>
		
		<meta name="description" content="Chris Turner's a fantastic candidate for the by-election on November 26th. Let Calgary Centre know you're supporting him." />
		<meta name="keywords" content="yyccentre, by-election, chris turner, guest book" />
		<meta name="robots" content="ALL" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<meta name="twitter:site" content="@theturner">
		<meta name="twitter:creator" content="@derekmcb">
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="Calgary For Chris Turner" />
		<meta name="twitter:description" content="Chris Turner's a fantastic candidate for the by-election on November 26th. Let Calgary Centre know you're supporting him." />
		<meta name="twitter:image" content="assets/images/banner.png" />
		
		<meta name="fb:app_id" content="" />
		<meta name="og:type" content="summary" />
		<meta name="og:title" content="Calgary For Chris Turner" />
		<meta name="og:image" content="assets/images/banner.png" />
		<meta name="og:description" content="Chris Turner's a fantastic candidate for the by-election on November 26th. Let Calgary Centre know you're supporting him." />
		
		<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
		<link href="assets/css/styles.css" rel="stylesheet"/>
		<script type="text/javascript" src="//use.typekit.net/gjd4ozp.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		<!-- Facebook -->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=114367588726642";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		
		<!-- Twitter -->
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		
		<div id="content">
			<div id="header">
				<a href="http://turner4yyc.ca">
					<img src="assets/images/banner.png" alt="Vote Chris Turner" />
				</a>
			</div>
			<div id="share">
			</div>
			<div id="shared">
			</div>
			<div id="footer">
				<p>
					Chris Turner is one of Canada's leading voices on urban sustainability and energy, as well as a prominent advocate for local and national political engagement. In 2009, he co-founded CivicCamp along with Naheed Nenshi. This ambitious civic engagement organization was instrumental in advocating for smart urban policy solutions in Calgary. Turner also served on the board of directors for Sustainable Calgary from 2008 to 2011. He has spoken on energy, climate change and the economy at university campuses, professional conferences and public events across the country. Chris was named one of Alberta's "Next 10" Most Influential People by Alberta Venture and one of Calgary's "Top 40 Under 40" by Avenue Magazine.
					
				</p>
				<ul class="links">
					<li><a href="http://turner4yyc.ca/ask-turner">See Chris Turner's positions on the issues</a></li>
					<li><a href="http://turner4yyc.ca/?page_id=377">Get a lawn sign</a></li>
					<li><a href="http://turner4yyc.ca/downloads">Social media icons</a></li>
				</ul>
				<a href="http://turner4yyc.ca" id="turner">
					<img src="assets/images/turner4yyclogo.png" alt="turner4yyc.ca" />
				</a>
				<a href="http://dmcbdesign.com/" id="dmcb_design">
					<span>website by</span> <img src="assets/images/dmcb_design.png" alt="dmcb design" /> <span>design</span>
				</a>
			</div>
		</div>
		
		<!-- Templates -->
		<script id="share-template" type="text/template">
			<h2>Share why you're inspired to vote for Chris Turner:</h2>
			
			<form id="share" class="section">
				<div class="input">
					<input id="name" type="text" placeholder="Your name"></input>
					<label id="name_error" class="error"></label>
				</div>
				<div class="email">
					<input id="email" type="text" placeholder="Your email address"></input>
					<label id="email_error" class="error"></label>
				</div>
				<div class="input">
					<textarea id="story" placeholder="Your story"></textarea>
					<label id="story_error" class="error"></label>
				</div>
				<div class="input">
					<label id="general_error" class="error"></label>
				</div>
				<div class="input">
					<button id="send">Share</button>
				</div>
			</form>
		</script>
		
		<script id="shared-template" type="text/template">
			<h2>See why other Calgarians are voting for Chris Turner:</h2>
			<div class="stories">
			</div>
			<div class="input">
				<button id="more">More</button>
			</div>
		</script>
		
		<script id="story-template" type="text/template">
			<p>
				<%= story %>
			</p>
			<span class="author">
				<%= name %>,
			</span>
			<span class="date">
				<%= date %>
			</span>
			<span class="info">
				<a>Share this story</a>
			</span>
		</script>
		
		<script id="share-story-template" type="text/template">
			<h2>This is why <%= name %> is supporting Chris Turner:</h2>
			<p>
				<%= story %>
			</p>
			<span class="date">
				<%= date %>
			</span>
			<div class="twitter">
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="This why <%= name %> is supporting Chris Turner for #yyccentre:">Tweet</a>
			</div>
			<div class="facebook">
				<div class="fb-like" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
			</div>
		</script>
		
		<!-- Javascripts -->
		<script type="text/javascript" src="assets/js/libraries/jquery-1.8.2.min.js"></script>
		<script type="text/javascript" src="assets/js/libraries/underscore-1.4.0.min.js"></script>
		<script type="text/javascript" src="assets/js/libraries/backbone-0.9.2.min.js"></script>
		<script type="text/javascript" src="assets/js/libraries/jquery.placeholder.min.js"></script>
		<script type="text/javascript" src="assets/js/libraries/jquery.fittext.js"></script>
		
	    <script type="text/javascript" src="assets/js/models/story.js"></script>
	    <script type="text/javascript" src="assets/js/collections/stories.js"></script>
	    <script type="text/javascript" src="assets/js/views/share.js"></script>
	    <script type="text/javascript" src="assets/js/views/shared.js"></script>
	    <script type="text/javascript" src="assets/js/router.js"></script>
		<script type="text/javascript" src="assets/js/app.js"></script>
	</body>
</html>