body {
  font-family: "ff-tisa-web-pro";
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  text-shadow: 1px 2px #363621; }
  body a {
    color: #a9cd44;
    font-weight: normal;
    text-decoration: none; }
    body a:hover {
      text-decoration: underline; }
    body a img {
      border: 0; }
  body h2 {
    font-family: "freight-sans-pro";
    font-weight: 700;
    font-size: 2em;
    color: #a9cd44;
    margin: 0 0 1em 0; }
  body input, body textarea, body button {
    font-family: Georgia, serif;
    border-radius: 4px;
    border: 0 none;
    width: 80%;
    margin: 2px 0;
    font-size: 1em;
    padding: 2px;
    background-color: #55553f;
    color: #FFF;
    border: 2px solid transparent;
    float: center;
    clear: both;
    font-family: "freight-sans-pro";
    font-weight: 300;
    transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease; }
    body input.error, body textarea.error, body button.error {
      border: 2px solid #a9cd44; }
  body label.error {
    font-size: 0.8em;
    color: #a9cd44;
    font-family: "freight-sans-pro";
    font-weight: 300; }
  body textarea {
    height: 128px;
    overflow: auto; }
  body button {
    background-color: #a9cd44;
    max-width: 128px;
    color: #43432a;
    cursor: pointer; }
    body button:hover {
      background-color: #fff; }
  body > div {
    max-width: 872px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    background-color: #43432a;
    overflow: hidden; }
    body > div#header img {
      width: 100%; }
    body > div#share {
      padding-bottom: 16px; }
    body > div#shared .story {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      padding-bottom: 16px; }
      body > div#shared .story + .story {
        border-top: #55553f solid 8px; }
      body > div#shared .story p {
        text-shadow: none; }
      body > div#shared .story .author {
        font-family: "freight-sans-pro";
        font-weight: 700;
        font-size: 1.2em;
        color: #a9cd44; }
      body > div#shared .story .date, body > div#shared .story .info {
        font-family: "freight-sans-pro";
        font-weight: 300;
        color: #a9cd44; }
      body > div#shared .story .info {
        display: block;
        width: 100%; }
      body > div#shared .story a {
        cursor: pointer; }
        body > div#shared .story a:hover {
          text-decoration: underline; }
    body > div#footer {
      padding-top: 32px;
      padding-bottom: 16px;
      color: #a0a082; }
      body > div#footer p {
        text-align: left; }
      body > div#footer ul {
        display: block;
        padding: 0 0 2em 0;
        margin: 0;
        list-style: none; }
        body > div#footer ul li {
          display: inline-block;
          font-family: "freight-sans-pro"; }
          body > div#footer ul li + li {
            margin-left: 5%; }
      body > div#footer a {
        margin: 24px 16px 0 16px;
        display: inline-block; }
        body > div#footer a#turner img {
          width: 100%;
          max-width: 121px;
          margin-bottom: -4px; }
        body > div#footer a#dmcb_design {
          font-size: 0.8em;
          text-align: center;
          color: #55553f; }
          body > div#footer a#dmcb_design:hover {
            text-decoration: none; }
          body > div#footer a#dmcb_design img {
            vertical-align: bottom;
            margin: 0 3px; }

/* For narrow displays or phones */
@media screen and (max-width: 580px), screen and (max-device-width: 480px) {
  body {
    font-size: 12px;
    text-shadow: 1px 1px #363621; }
    body input, body textarea, body button {
      width: 100%; }
    body button {
      max-width: 100%; }
    body textarea {
      height: 48px; }
    body > div {
      padding: 4px; }
      body > div#share {
        padding-bottom: 8px; }
      body > div#shared .story {
        width: 100%; }
        body > div#shared .story + .story {
          border-top: #55553f solid 4px; } }
