body {
  font-family: "ff-tisa-web-pro";
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  text-shadow: 1px 2px #363621; }
  body a {
    color: #a9cd44;
    font-weight: normal;
    text-decoration: none; }
    body a:hover {
      text-decoration: underline; }
    body a img {
      border: 0; }
  body h2 {
    font-family: "freight-sans-pro";
    font-weight: 700;
    font-size: 2em;
    color: #a9cd44;
    margin: 0 0 1em 0; }
  body input, body textarea, body button {
    font-family: Georgia, serif;
    border-radius: 4px;
    border: 0 none;
    width: 80%;
    margin: 2px 0;
    font-size: 1em;
    padding: 2px;
    background-color: #55553f;
    color: #FFF;
    border: 2px solid transparent;
    float: center;
    clear: both;
    font-family: "freight-sans-pro";
    font-weight: 300;
    transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease; }
    body input.error, body textarea.error, body button.error {
      border: 2px solid #a9cd44; }
  body label.error {
    font-size: 0.8em;
    color: #a9cd44;
    font-family: "freight-sans-pro";
    font-weight: 300; }
  body textarea {
    height: 128px;
    overflow: auto; }
  body button {
    background-color: #a9cd44;
    max-width: 128px;
    color: #43432a;
    cursor: pointer; }
    body button:hover {
      background-color: #fff; }
  body > div#content {
    background-color: #43432a;
    max-width: 872px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px; }
    body > div#content > div#header img {
      width: 100%; }
    body > div#content > div#share {
      padding-bottom: 2em; }
      body > div#content > div#share p, body > div#content > div#share .date {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        padding-bottom: 1em; }
      body > div#content > div#share .date {
        display: block;
        font-family: "freight-sans-pro";
        font-weight: 300;
        color: #a9cd44; }
      body > div#content > div#share .twitter, body > div#content > div#share .facebook {
        float: left;
        margin-left: 10%;
        clear: both;
        margin-top: 0.5em; }
    body > div#content > div#shared .story {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      padding-bottom: 2em; }
      body > div#content > div#shared .story + .story {
        border-top: #55553f solid 8px; }
      body > div#content > div#shared .story p {
        text-shadow: none; }
      body > div#content > div#shared .story .author {
        font-family: "freight-sans-pro";
        font-weight: 700;
        font-size: 1.2em;
        color: #a9cd44; }
      body > div#content > div#shared .story .date, body > div#content > div#shared .story .info {
        font-family: "freight-sans-pro";
        font-weight: 300;
        color: #a9cd44; }
      body > div#content > div#shared .story .info {
        display: block;
        width: 100%; }
      body > div#content > div#shared .story a {
        cursor: pointer; }
        body > div#content > div#shared .story a:hover {
          text-decoration: underline; }
    body > div#content > div#footer {
      padding-top: 2em;
      padding-bottom: 1em;
      color: #a0a082; }
      body > div#content > div#footer p {
        text-align: left;
        width: 80%;
        margin-left: auto;
        margin-right: auto; }
      body > div#content > div#footer ul {
        display: block;
        padding: 0;
        margin: 0;
        list-style: none; }
        body > div#content > div#footer ul li {
          display: inline-block;
          font-family: "freight-sans-pro";
          margin-left: 2%;
          margin-right: 2%; }
      body > div#content > div#footer a#turner, body > div#content > div#footer a#dmcb_design {
        display: inline-block;
        margin-top: 2em;
        margin-left: 2%;
        margin-right: 2%; }
      body > div#content > div#footer a#turner img {
        width: 100%;
        max-width: 121px;
        margin-bottom: -4px; }
      body > div#content > div#footer a#dmcb_design {
        font-size: 0.8em;
        text-align: center;
        color: #55553f; }
        body > div#content > div#footer a#dmcb_design:hover {
          text-decoration: none; }
        body > div#content > div#footer a#dmcb_design img {
          vertical-align: bottom;
          margin: 0 3px; }

/* For narrow displays or phones */
@media screen and (max-width: 580px), screen and (max-device-width: 480px) {
  body {
    font-size: 12px;
    text-shadow: 1px 1px #363621; }
    body input, body textarea, body button {
      width: 100%; }
    body button {
      max-width: 100%; }
    body textarea {
      height: 48px; }
    body > div#content {
      padding: 4px; }
      body > div#content > div#shared .story {
        width: 100%; }
        body > div#content > div#shared .story + .story {
          border-top: #55553f solid 4px; }
      body > div#content > div#footer p {
        width: 100%; } }
