@mixin easing {
	transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
}

body {
	font-family: "Abel";
	font-size: 16px;
	font-weight: 400;
	padding: 0;
	margin: 0;
	background-color: #000;
	color: #fff;
	text-align: center;
	text-shadow: 1px 2px #363621;
	
	a {
		color: #a9cd44;
		font-weight: normal;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
		
		img {
			border: 0;
		}
	}
	
	h2 {
		font-family: "freight-sans-pro";
		font-weight: 700;
		font-size: 2em;
		color: #a9cd44;
		margin: 0 0 1em 0;
	} 
	
	input, textarea, button {
		font-family: Georgia, serif;
		border-radius: 4px;
		border: 0 none;
		width: 80%;
		margin: 2px 0;
		font-size: 1em;
		padding: 2px;
		background-color: #55553f;
		color: #FFF;
		border: 2px solid transparent;
		float: center;
		clear: both;
		font-family: "Abel";
		font-weight: 300;
		@include easing;
		
		&.error {
			border: 2px solid #a9cd44;
		}
	}
	
	label.error {
		font-size: 0.8em;
		color: #a9cd44;
		font-family: "Abel";
		font-weight: 300;
	}
	
	textarea {
		height: 128px;
		overflow: auto;
	}
	
	button {
		background-color: #a9cd44;
		max-width: 256px;
		color: #43432a;
		cursor: pointer;
		
		&:hover {
			background-color: #fff;
		}
	}
	
	> div#content {
		background-color: #43432a;
		max-width: 872px;
		margin-left: auto;
		margin-right: auto;
		padding: 8px;
	
		> div {
			&#header {
				img {
					width: 100%;
				}
			}
			
			&#share {
				padding-bottom: 1em;
				
				p, .date {
					width: 80%;
					margin-left: auto;
					margin-right: auto;
					text-align: left;
					padding-bottom: 1em;
				}
				
				.date {
					display: block;
					font-family: "Abel";
					font-weight: 300;
					color: #a9cd44;
				}
				
				.twitter, .facebook {
					float: left;
					margin-left: 10%;
					clear: both;
					margin-top: 0.5em;
				}
				
				.facebook {
					margin-bottom: 1em;
				}
				
				.input {
					width: 100%;
					clear: both;
				}
			}
			
			&#shared {
				.story {
					width: 80%;
					margin-left: auto;
					margin-right: auto;
					text-align: left;
					padding-bottom: 2em;
	
					
					&+.story {
						border-top: #55553f solid 8px;
					}
					
					p {
						text-shadow: none;
					}
					
					.author {
						font-family: "freight-sans-pro";
						font-weight: 700;
						font-size: 1.2em;
						color: #a9cd44;
					}
					
					.date, .info {
						font-family: "Abel";
						font-weight: 300;
						color: #a9cd44;
					}
					
					.info {
						display: block;
						width: 100%;
					}				
				
					a {
						cursor: pointer;
						
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
			
			&#footer {
				clear: both;
				padding-top: 1em;
				padding-bottom: 1em;
				color: #a0a082;
				
				p {
					text-align: left;
					width: 80%;
					margin-left: auto;
					margin-right: auto;
				}
				
				ul {
					display: block;
					padding: 0;
					margin: 0;
					list-style: none;
					
					li {
						display: inline-block;
						font-family: "Abel";
						margin-left: 2%;
						margin-right: 2%;
					}
				}
				
				a {
					&#turner, &#dmcb_design {
						display: inline-block;
						margin-top: 2em;
						margin-left: 2%;
						margin-right: 2%;
					}
					
					&#turner img {
						width: 100%;
						max-width: 121px;
						margin-bottom: -4px;
					}
					
					&#dmcb_design {
						font-size: 0.8em;
						text-align: center;
						color: #55553f;
						
						&:hover {
							text-decoration: none;
						}
						
						img {
							vertical-align: bottom;
							margin: 0 3px;
						}
					}
				}
			}
		}
	}
}

/* For narrow displays or phones */
@media screen and (max-width: 580px), screen and (max-device-width: 480px) {
	body {
		font-size: 12px;
		text-shadow: 1px 1px #363621;
					
		input, textarea, button {
			width: 100%;
		}
		
		button {
			max-width: 100%;
		}
		
		textarea {
			height: 48px;
		}
		
		> div#content {
			padding: 4px;
			
			> div {
				&#share {
					p, .date {
						width: 100%;
					}
					
					.twitter, .facebook {
						margin-left: 0;
					}
				}
				
				&#shared .story {
					width: 100%;
					
					&+.story {
						border-top: #55553f solid 4px;
					}
				}
				
				&#footer p {
					width: 100%;
				}
			}
		}
	}
}