body {
  font-family: "ff-tisa-web-pro";
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  text-shadow: 2px 4px #363621; }
  body h2 {
    font-family: "freight-sans-pro";
    font-weight: 700;
    font-size: 2em;
    color: #a9cd44;
    margin: 0 0 1em 0; }
  body > div {
    max-width: 872px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    background-color: #43432a;
    overflow: hidden; }
    body > div#header img {
      width: 100%; }
    body > div#share {
      padding-bottom: 16px; }
      body > div#share input, body > div#share textarea, body > div#share button {
        font-family: Georgia, serif;
        border-radius: 4px;
        border: 0 none;
        width: 80%;
        margin: 2px 0;
        font-size: 1em;
        padding: 2px;
        background-color: #55553f;
        color: #FFF;
        border: 2px solid transparent;
        float: center;
        clear: both;
        font-family: "freight-sans-pro";
        font-weight: 300; }
        body > div#share input.error, body > div#share textarea.error, body > div#share button.error {
          border: 2px solid #a9cd44; }
      body > div#share label.error {
        font-size: 0.8em;
        color: #a9cd44;
        font-family: "freight-sans-pro";
        font-weight: 300; }
      body > div#share textarea {
        height: 128px; }
      body > div#share button {
        background-color: #a9cd44;
        max-width: 128px;
        color: #43432a; }
        body > div#share button:hover {
          background-color: #fff; }
    body > div#shared .story {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      padding-bottom: 16px; }
      body > div#shared .story + .story {
        border-top: #55553f solid 8px; }
      body > div#shared .story p {
        text-shadow: none; }
      body > div#shared .story .author {
        font-family: "freight-sans-pro";
        font-weight: 700;
        font-size: 1.2em;
        color: #a9cd44;
        display: block;
        width: 100%; }
      body > div#shared .story .date {
        font-family: "freight-sans-pro";
        font-weight: 300;
        color: #a9cd44;
        display: block;
        width: 100%; }
    body > div#footer {
      padding-top: 32px;
      padding-bottom: 16px; }
      body > div#footer img {
        width: 100%;
        max-width: 121px; }

/* For narrow displays or phones */
@media screen and (max-width: 580px), screen and (max-device-width: 480px) {
  body {
    font-size: 12px;
    text-shadow: 1px 2px #363621; }
    body > div {
      padding: 4px; }
      body > div#share {
        padding-bottom: 8px; }
        body > div#share input, body > div#share textarea, body > div#share button {
          width: 100%; }
        body > div#share button {
          max-width: 100%; }
        body > div#share textarea {
          height: 48px; }
      body > div#shared .story {
        width: 100%; }
        body > div#shared .story + .story {
          border-top: #55553f solid 4px; } }
